<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="cuba-example-table-column-links"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.cetcl.entity.Customer</class>
        <class>com.company.cetcl.entity.Order</class>
    </persistence-unit>
</persistence>
